@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

body {
    background-color: greenyellow;
    color: white;
    background-image: repeating-radial-gradient(farthest-corner, rgb(255, 2, 2) 0.2%, rgba(251, 255, 198, 0.849) 0.3%, rgb(255, 0, 0) 0.1%);
    font-family: 'Calligraffitti', cursive;
    text-shadow: 1.5px 1.5px #000000;
}

.eye1{
  float: left;
}

.eye2{
  float: right;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
  background: -webkit-linear-gradient(#07e, #5b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a {
  display: flex;
    justify-content: center;
  background: -webkit-linear-gradient(#07e, #5b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
    display: flex;
    justify-content: center;
  background: -webkit-linear-gradient(#07e, #5b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
    display: flex;
    justify-content: center;
  background: -webkit-linear-gradient(#07e, #5b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
    display: flex;
    justify-content: center;
    max-width: 300px;
}

.selects{
  border: 3px solid rebeccapurple;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 8%;

}

.index-labels{
  border: 3px solid rebeccapurple;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 8%;
}
.center {
  margin: 0 auto;
  width: 200px;
  padding: 20px;
}


#submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 3%;
}

#saved-strains{
  height:300px;
  width:450px;
  border:8px solid rebeccapurple;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  margin-left: auto;
  margin-right: auto;
}

#spiral{
  border: 3px solid rebeccapurple;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#melt{
  margin-top: 20px;
  border: 3px solid rgb(0, 255, 170);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#strain-element{
  width: 50%;
  display: block;
  border: 15px solid rebeccapurple;
  margin-left: auto;
  margin-right: auto;
}

.buttons{
  margin-top: 20px;
    transition-duration: 0.4s;
    position: relative;
    top: 50%;
    left: 48%;
}

.buttons:hover {
    background-color: #F20A0A; /* Green */
    color: white;
 }

 #submit-button{
  transition-duration: 0.4s;
  position: relative;
  top: 50%;
  left: 47%;
  margin-top: 25px;
}
#submit-button:hover {
  background-color: #F20A0A; /* Green */
  color: white;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 150px; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */ /* Add some space below the input */
  margin-top: 6px;
  
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.audio{
  display: none;
}
