@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

body {
    background-color: greenyellow;
    color: white;
    background-image: repeating-linear-gradient(red, greenyellow 15%, yellow 15%);
    font-family: 'Calligraffitti', cursive;
    text-shadow: 1.5px 1.5px #000000;
}

img {
    display: flex;
    justify-content: center;
    max-width: 300px;
}

#saved-strains{
  height:300px;
  width:300px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  position:absolute;
  top:50%;
  left:40%;
}

#spiral{
  position: relative;
  top: 50%;
  left: 40%;
}