@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

body {
    background-color: greenyellow;
    color: white;
    background-image: repeating-radial-gradient(farthest-corner, rgb(255, 2, 87) 0.3%, rgba(243, 255, 82, 0.849) 0.8%, rgb(255, 0, 0) 0.8%);
    font-family: 'Calligraffitti', cursive;
    text-shadow: 1.5px 1.5px #000000;
}

h1 {
    display: flex;
    justify-content: center;
  background: -webkit-linear-gradient(#07e, #5b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
    display: flex;
    justify-content: center;
  background: -webkit-linear-gradient(#07e, #5b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
    display: flex;
    justify-content: center;
  background: -webkit-linear-gradient(#07e, #5b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
    display: flex;
    justify-content: center;
    max-width: 300px;
}

#side-effects{
  border: 3px solid rebeccapurple;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 8%;
}

#submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 3%;
}

#saved-strains{
  height:300px;
  width:300px;
  border:1px solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;
  position:realtive;
  top:50%;
  left:40%;
}

#spiral{
  border: 3px solid rebeccapurple;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#melt{
  margin-top: 20px;
  border: 3px solid rgb(0, 255, 170);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#strain-element{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  position: relative;
  top: 50%;
  left: 35%;
}

#home-button{
    transition-duration: 0.4s;
    position: relative;
    top: 50%;
    left: 50%;
}

#home-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
 }
  

